.k{
   background-color: #F8F9FA;
   margin-top: 50PX;
   padding-top: 50PX;
   padding-bottom: 50px;

}

.M{
    margin-top: 50PX;
    margin-bottom: 50px;
     

}

.G{
   background-color: #c9c5c5;
}